// src/styles/main.scss
@import 'variables';
@import "fonts";

body {
  font-family: '$font-primary', sans-serif;
  background-color: $primary-color;
  .v-application {
    background-color: $primary-color;
    font-family: '$font-secondary';

    .btnNext{
      //position: absolute;
      //margin-top: 60vh;
      height: 5vh;
      width: 12vw;
      background-color:$dark-primary-color;
      text-shadow: 1px 1px 2px saddlebrown;
      font-size: 3vh;
    }

    .iconName{
      background-color: $blue-icon-color;
      width: 42px;
      height: 42px;
      border-radius: 5px;
      color: white;
    }

    .list {
      width: 80%;
      background-color: $primary-color;
      padding: 10px;
      border-radius: 8px;
      border-color: white;
    }

    .v-list{
      background-color: $primary-color;
      padding: 2%;
      width: 100%
    }

    .bgDark{
      background-color: $dark-primary-color;
    }



    .home{
      margin-top: 40vh;
      #logoName {
        font-size: 10vh;
        z-index:1;
        text-shadow: 3px 3px 6px saddlebrown;
      }
      .logo {
        position:absolute;
        z-index:0;
        height: 50vh;
      }
      .btnHome{
        position: absolute;
        margin-top: 60vh;
      }
    }

    .friend-list{
      margin-top: 2vh;


      //.v-list-item {
      //  width: 100%;
      //}

      #ListFriend{
        text-shadow: 3px 3px 6px saddlebrown;
      }

      .deleteBtn{
        width: 40px;
        height: 40px;
        background-color: $primary-color;
        margin-left: 50px;
      }

      .delete{
        width: 30px;
        height: 30px;
      }
    }

    .split-page{

      .positionBill{
        //width: 100%;
      }

      .positionName{
        width: 90%;
      }

      .positionPrice{
        //width: 30%;
      }

      .details{

      }

      #finalValue{
        text-shadow: 3px 3px 6px saddlebrown;
      }

      .dropDown{
      }
    }



    }


}


