// src/styles/main.scss
@import 'variables';
@import "fonts";

body {
  font-family: '$font-primary', sans-serif;
  background-color: $primary-color;
  .v-application {
    background-color: $primary-color;
    font-family: '$font-secondary';

    .home{
      margin-top: 40vh;
      #logoName {
        font-size: 10vh;
        z-index:1;
        text-shadow: 3px 3px 6px saddlebrown;
      }
      .logo {
        position:absolute;
        z-index:0;
        height: 50vh;
      }
      .btnBegin{
        position: absolute;
        margin-top: 60vh;
        height: 5vh;
        width: 12vw;
        background-color:$dark-primary-color;
        text-shadow: 1px 1px 2px saddlebrown;
        font-size: 3vh;
      }
    }



    }


}


